{% extends "base.html" %}
{% block content %}
    <h3>Deprecated way it's better to use <a href='{% url url_viewless %}'>viewless</a></h3>
    {% if posts %}
    {% if perms.actions.delete_post or perms.actions.change_post %} 
        <form action='.' method='post' id='id_action_posts'>
        {% csrf_token %}
        {{ form.action.errors }}
        {{ form.action }}
    {% endif %}
        {% for p in posts %}
            <li>{% if perms.actions.delete_post or perms.actions.change_post %}
                <input name='items' value='{{ p.id }}' type='checkbox' class='void'>
                {% endif %}
                {{ p.title }}: {{ p.category }}
                <span class='content'>
                    {{ p.content }}
                <span class='author'>{{ p.author }} ({{ p.ip_addr }})</span>
                </div>
            </li>
        {% endfor %}
    {% if perms.actions.delete_post or perms.actions.change_post %} 
        <input type='submit' value='submit'>
    </form>
    {% endif %}
    {% else %}
        <h3>It might be usefull to add some posts ;), don't you find it?</h3>
    {% endif %}
{% endblock %}
